* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/giftshop-69dfd.appspot.com/o/images%2Fimg-9.jpg?alt=media&token=abfb8966-1ba1-45df-9a3c-a354f630e036');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/giftshop-69dfd.appspot.com/o/images%2Fimg-1.jpg?alt=media&token=b142f97e-f17d-4c9c-9d97-e42f670f3a8e');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/giftshop-69dfd.appspot.com/o/images%2Fimg-8.jpg?alt=media&token=79405b35-2cae-4240-90c0-e92266a3be95');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
